

body {
    background-color: rgb(53, 21, 90);
}

.mythings {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-family:"Sofia", sans-serif;
    color:rgb(245, 224, 227);
    font-size: 32px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(245, 224, 227);
    font-size: 14px;
}
